html,
body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
}

#canvas {
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  background-image: url('./assets/canvas_bg.jpg');
  background-size: cover;
}
